/// Mixins ///



//style social icon
@mixin socialStyle {
    
    color:$primary-black;
        font-size: 1.2em;
        display: block;
        padding: 0.5rem 1rem;
        transition: 0.3s ease-in-out;
        border-radius: 50%;

        &:hover{
            color: #fff;
            background-color: #28292a;
            display: inline-block;
            width: 100%;
            height: 100%;
            text-align: center;
    }
}