//style credit page

.credit-page-container{
    padding-top: 21vh;
    height: 100vh;

    .credit-page-content{
        position: relative;

        .credit-img{
            h2{
                padding-top:2rem;
                padding-bottom: 2rem;
                text-transform: uppercase;
                letter-spacing: 1.8vw;
            }
            span{
                display: block;
                margin-bottom: 1rem;

                a{
                    color:#00dbde;
                }
            }
        }
    }
}