
.header{
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation: backgroundMouve 80s linear infinite;

    @keyframes backgroundMouve {
        0% {
            background-position: 0 0;
        }
        100%{
            background-position: -800px 0;
        }
    }
    
    .header-content{
        padding-top:20%;
        height: 100%;
        padding-left: 5%;

        @media all and (min-width:480px) and (max-width:768px){
            padding-right: 5%;
        }
    }
    
    .header-title{
        padding-top: 2rem;
        text-transform: uppercase;
        letter-spacing: 1.3vw;
            @media(min-width:320px) and (max-width:425px){
                font-size: 9vw;
                padding-top: 5rem;
                padding-bottom: 0rem;
            }

            @media all and (max-width:480px){
                width: 92%;
                font-size: 16px;
            }

            @media all and (min-width:480px) and (max-width:1024px){
                width: 100%;
                font-size: 39px;
            }
    }

    .subtitle{
            font-size: 35px;
            text-transform: capitalize;
            letter-spacing: 8px;
            margin-bottom: 0;


            @media all and (max-width:480px){
                font-size: 16px;
                letter-spacing: normal;
            }
        }


        p{
        width: 60%;
        text-align: justify;
        font-size: 2vw;
        line-height: 1.8;

        @media all and (max-width:480px){
                font-size: 15px;
            }

    }



        .mouse-scroll {
            position: relative;
            width:30px;
            height: 55px;
            margin-left: auto;
            margin-right: 32%;
            box-shadow: inset 0 0 0 1px $primary-black;
            border-radius: 25px;

            @media all and (max-width:480px){
                display: none;
            }

            @media all and (min-width:480px) and (max-width:1024px){
                display: none;
            }

            &:hover{
                cursor: pointer;
            }

                &::before{
                    content:'';
                    position: absolute;
                    width: 3px;
                    left:50%;
                    transform: translateX(-50%);
                    height: 15px;
                    background: $primary-black;
                    top:8px;
                    border-radius: 4px;
                    animation-duration: 1.5s;
                    animation-iteration-count: infinite;
                    animation-name: scroll;
                }

                @keyframes scroll {
                    0%{
                        opacity: 1;
                    }
                    100%{
                    opacity: 0;
                    transform: translateY(27px);
                }
            }
        }
    
}

.featured-container{
    padding-top: 21%;

        .title-bloc-post{
            text-align: center;
            padding-top:2rem;
            padding-bottom: 2rem;
            a{
                display:inline-block;
                text-decoration: none;
                color: $primary-black;
                background-color: transparent;

            h2{
                text-transform: uppercase;
                letter-spacing: 1.8vw;
            }
                
            &:hover{

                h2{
                    background: -webkit-linear-gradient( #fc00ff, #00dbde);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        }
    }
}
