//style cookie banner

.banner-cookie-container{

    display: none;
    position: absolute;
    z-index: 15;
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: #000000ba;
    color: whitesmoke;
    text-align: center;
    height: 11vh;
}